<div>
	<div class=''>
		<h1>All Patients: </h1>
	
	<% if @patients.any? %>
		<table class='striped'>
			<thead>
				<th>Patient</th>
				<th>Age</th>
				<th>Insurance</th>
				<th colspan="3"></th>
			</thead>
	
			<tbody>
			<% @patients.each do |patient| %>
			<tr>
				<td><%= patient.full_name %></td>
				<td><%= patient.age %></td>
				<td><%= patient.insurance ? 'Yes' : 'No' %></td>
				<td><%= link_to 'View', patient_path(patient), class: 'btn ' %></td>
				<td><%= link_to 'Edit', edit_patient_path(patient), class: 'btn' %></td>
				<td><%= link_to 'Delete', patient, method: :delete, 
					data: { confirm: 'Are you sure?' }, class: 'btn' %>	</td>
			</tr>
			<% end %>
		<% else %>
			<h3>No patient in the system. </h3>
			</ul>
		<% end %>
			</tbody>
		</table>
		
		<%= link_to 'Add Patient', new_patient_path %>
	</div>
</div>

