<div>
	<h1 class='main-font bold'> Add New Appointment: </h1>
	<hr />
	
	<%= form_for @appointment do |f| %>
	  <%= f.label :doctor_id %>
	  <%= f.select :doctor_id, options_for_select(@doctors) %>
	  <%= f.label :patient_id %>
	  <%= f.select :patient_id, options_for_select(@patients) %>
	  <%= f.date_field :date, required: true, placeholder: 'Date' %>
	  <%= f.time_field :time, required: true, placeholder: 'Time' %>
	  <%= f.text_field :reason, required: true, placeholder: 'Reason' %>
	
	  <%= f.submit nil, class: 'btn indigo darken-3' %>
	<% end %>
	
	<br />
	<%= link_to '<-- Back', doctors_path, class: 'btn indigo darken-3' %>
	<br />
	<br />
</div>



